.new-product {
    flex: 5;
    color: white;
    margin: 0 30px;
    margin-bottom: 20px;
    padding: 10px 30px;

    .movie-title-container {
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        position: relative;
            .progress {
                position: absolute;
                bottom: 0;
                height: 4px;
                background-color: rgb(67, 165, 67);
                width: 0%;
            }

        button {
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 500;
            border: none;
            background-color: var(--red-color);
            color: white;
            border-radius: 2px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;


            &:hover {
                background-color: whitesmoke;
                color: var(--red-color);
                transition: background-color 0.3s ease, color 0.3s ease;
            }
        }

    }

    .create-product-container {
        display: flex;

        .product-form {
            flex: 2;

            form {
                display: flex;
                .left-container {
                    flex: 1;
                }

                .right-container {
                    flex: 1;
                }
                .new-product-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    margin-right: 10px;

                    label {
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 500;
                        margin-left: 10px;
                    }

                    textarea {
                        width: 70%;
                        padding: 10px 20px;
                        font-size: 16px;
                        background-color: rgb(26, 26, 26);
                        border: 2px solid transparent;
                        border-radius: 5px;
                        color: whitesmoke;
                        outline: none;
                        font-weight: 400;
                        resize: none;

                        &:focus {
                            border: none;
                            border: 2px solid rgb(33, 125, 211);
                        }
                    }

                    input {
                        width: 70%;
                        height: 30px;
                        padding: 10px 20px;
                        font-size: 16px;
                        background-color: rgb(26, 26, 26);
                        border: 2px solid transparent;
                        border-radius: 5px;
                        color: whitesmoke;
                        outline: none;
                        font-weight: 400;

                        &:focus {
                            border: none;
                            border: 2px solid rgb(33, 125, 211);
                        }
                    }

                    .file-uploads {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .movie-upload-icon {
                            margin-left: 20px;

                            &:hover {
                                color: var(--red-color);
                            }
                        }
                    }

                    select {
                        background-color: rgb(26, 26, 26);
                        border: none;
                        color: gray;
                        border-radius: 5px;
                        width: 76%;
                        height: 50px;
                        font-size: 18px;
                        padding: 10px 20px;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        option {
                            color: gray;
                        }
                    }

                }
            }
        }
    }
}