.list {
    width: 100%;
    margin-top: 10px;
    margin: 40px 0;

    .list-title {
        color: white;
        font-size: larger;
        font-weight: 500;
        margin-left: 50px;
    }

    .wrapper {
        position: relative;
        margin: 10px 0;

        .slider-arrow {
            position: absolute;
            width: 50px;
            height: 100%;
            background-color: rgba(22, 22, 22, 0.5);
            color: white;
            z-index: 5;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
        }
        .container {
            margin-left: 50px;
            display: flex;
            width: max-content;
            transition: all 1s ease;
        }

        .left {
            left: 0;
        }

        .right {
            right: 0;
        }
        

    }
}